BOT_TOKEN=
ADMIN_TG_ID=
DATABASE_URL=

WELCOME_IMAGE_URL=

USDT_ADDRESS_TRC20=
PAY_BASE=3
PAY_STEP=0.001
PAY_SLOTS=200
PAY_EXPIRE_MINUTES=30

INVITE_EXPIRE_MINUTES=30

# Provider TRON (placeholder)
TRONSCAN_BASE=https://apilist.tronscanapi.com
TRONSCAN_API_KEY=